#container{
	background:#00aced;
	height:400px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
#main{
	padding-bottom:20px;
	color:white;
	background:#0080ff;
	text-align:center;
	
}
#bleft{
	width:40%;
	float:left;
  color: white;
	padding-left: 10px;
}
#bright{
	width:40%;
	float:right;
}

#login{
	background-color:#33bbff;
	border-radius: 12px;
	color:white;
}
#login:hover{
	background-color:#00aced;
}

#signup{
	background-color:#0080ff;
	border-radius: 12px;
	color:white;
}
